env:
  REGISTRY: ghcr.io
  FRONTEND_IMAGE: ${{ secrets.BACKEND_IMAGE_NAME }}
  BACKEND_IMAGE: ${{ secrets.FRONTEND_IMAGE_NAME }}

name: publish
on:
  push
jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/review-2'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - image: ${{ env.BACKEND_IMAGE }}
            dockerfile: backend/Dockerfile
            path: ./backend
          - image: ${{ env.FRONTEND_IMAGE }}
            dockerfile: frontend/Dockerfile
            path: ./frontend
    steps:
      - uses: actions/checkout@v4 # Checking out the repo
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ matrix.image }}

      - name: Build and push Docker image
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: ${{matrix.path}}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
